.logo-container {
    z-index: 0;
    width: 400px;
    height: 609px;
    opacity: 0;
    position: absolute;
    top: 30%;
    right: 20%;
    bottom: 0;
    left: auto;
    margin: auto;
  
    svg {
      width: 100%;
      height: auto;
      bottom: 0;

    }
  
    .solid-logo,
    .animated-logo {
      position: absolute;
      top: auto;
      right: auto;
      bottom: auto;
      left: 0;
      margin: auto;
      height: auto;
      width: 100%;
      opacity: 0;
      z-index: 1;
    }
  }
  
  .svg-container {
    stroke: #e88607;
    stroke-width: 2;
    fill: none;
    path {
      visibility: visible;
    }
  }

  .l1, .l4{fill:none;}
	.l2{fill:none;stroke:#525252;stroke-miterlimit:10;}
	.l3, .l5{fill:none;stroke:#525252;stroke-miterlimit:10;}

  @keyframes offset {
    to {
      stroke-dashoffset: 0;
    }
  }

  #First, #Second, #Third, #Fourth, .svg-container {
    animation: offset 5s linear forwards;
  }
  
  #First {
    stroke-dasharray: 200;
    stroke-dashoffset: 200;
  }
  #Second {
    stroke-dasharray: 250;
    stroke-dashoffset: 250;
    animation-delay: .25s;
  }
  #Third {
    stroke-dasharray: 300;
    stroke-dashoffset: 300;
    animation-delay: .75s;
  }
  #Fourth {
    stroke-dasharray: 300;
    stroke-dashoffset: 300;
    animation-delay: 1s;
  }
  #Text {
    stroke-dasharray: 100;
    stroke-dashoffset: 100;
    animation-delay: 2s;
  }
  

