
@media screen and (max-width: 1440px) {
    .container.skills-page {
        overflow: visible;
        box-sizing: border-box;
        height: auto;
        display: block;
        .tagcloud-container {
            margin: 0;
            padding: 0;
            position: fixed;
            width: calc(50%); 
            display: flex;
            justify-content: center;
            align-items: center;

            .tagcloud {
                margin: 0;
                width: 100%;
                height: 100%;             
            }   
        }
    }   
}


@media screen and (max-width: 1200px) {
        .container.skills-page {  
            width: 100%;
            height: 100vh;

            .tagcloud-container {
                position: initial;
                width: 100%;
            
            }
        }
    }

@media screen and (max-width: 1024px) {
    .container.skills-page {     

        .tagcloud-container {
            .tagcloud {
                margin: 0;
                padding: 0;
            }
        }
    }
}
@media screen and (max-width: 768px) {    
    

    .container.skills-page {
        
        .tagcloud-container {
            width: 100%;
            height: 70vh;
            padding-top: 10%;
            

            .tagcloud {
                width: 50%;
                height: auto;
            }
        }
    }
}


@media screen and (max-width: 425px) {
    .container.skills-page {
        .tagcloud-container {
            
            .tagcloud {
                padding-top: 15%;
                width: 20%;
                height: auto;
            }        
        }
    }
}
